.card-links {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    h2 {
        font-size: 16px;
        font-weight: 500;
    }

    #null_icon {
        font-size: 16px;
        color: var(--gray);
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .shortLink {
        a {
            font-size: 14px;
            color: var(--blue);
            text-decoration: none;
            word-break: break-all;
        }

        a:hover {
            text-decoration: underline;
        }

        button {
            color: var(--blue);
            margin-left: 5px;
            font-size: 16px;
            width: 25px;
            height: 25px;
        }

        button:hover {
            background-color: var(--light-gray);
        }
    }

    .fullLink {
        i {
            font-size: 14px;
            color: var(--dark-blue);
            margin: 0 5px;
        }

        a {
            font-size: 14px;
            text-decoration: none;
            word-break: break-all;
            color: var(--dark-gray);
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .cardDate {
        margin-top: 18px;
        font-size: 14px;
        color: var(--dark-gray);

        i {
            margin-right: 5px;
        }
    }

    
    .actions {
        button {
            width: 26px;
            height: 26px;
        }

        button:hover {
            background-color: var(--light-gray);
        }

        i {
            font-size: 16px;
            color: var(--black);
        }
    }
}