.card-links {
    padding: 12px 0;
    border-bottom: 1px solid var(--light-gray);

    h2 {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        align-self: center;
    }

    a {
        font-size: 14px;
        color: var(--blue);
        text-decoration: none;
        word-break: break-all;
    }

    #null_icon {
        font-size: 16px;
        color: var(--gray);
        margin: 0 auto;
        align-self: center;
    }

    button {
        align-self: center;
        width: 24px;
        height: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }

    #delete_icon {
        font-size: 16px;
        color: var(--red);
    }

    #delete_icon:hover {
        opacity: 0.8;
    }
}