@charset "UTF-8";

.container {
    background-color: var(--light-gray);
    height: 100%;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.shadow-container {
    background-color: var(--white);
    border-radius: 18px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.01);
}

.create {
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    h2 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 12px;
        text-align: center;
    }
}

.links {
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    .card-grid {
        display: grid;
        grid-template-columns: 25% 2fr 3fr 24px;
        column-gap: 18px;
    }
}