@charset "UTF-8";

.container {
    background-color: var(--light-gray);
    height: 100%;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shadow-container {
    background-color: var(--white);
    border-radius: 18px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.01);
}

.mainContent {
    max-width: 1200px;
    width: 100%;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.create {
    padding: 20px;
    margin-top: 5px;
}

.links {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;

    .card-grid {
        display: grid;
        grid-template-columns: 25% 2fr 3fr 24px;
        column-gap: 18px;
    }
}