@charset "UTF-8";

.container {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .shadow-container {
        background-color: var(--white);
        border-radius: 18px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.01);
        border: 1px solid var(--medium-gray);
    }

    .mainContent {
        max-width: 1200px;
        width: 100%;
    }

    h1 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .create {
        padding: 20px;
        margin-bottom: 20px;

        h2 {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }

    .links {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
    }
}

footer {
    width: 100%;
    padding: 10px 20px;

    p {
        font-size: 14px;
        color: var(--gray);
        text-align: center;
    }
}