form {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;

    .input-content {
        min-width: 150px;

        h3 {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
        }

        input {
            padding: 12px;
            border: 1px solid var(--light-gray);
            border-radius: 8px;
            font-size: 14px;
            width: 100%;
        }

        input:focus {
            border-color: var(--blue);
            outline: none;
        }
    }

    .inputUrl {
        flex: 3 1 auto;
    }

    .inputTitle {
        flex: 2 1 auto;
    }

    button {
        flex: 1 0 150px;
        align-self: last baseline;
        position: relative;
        padding: 13px;
        background-color: var(--blue);
        color: var(--white);
        border: none;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: opacity 0.3s ease;

        i {
            position: absolute;
            right: 18px;
        }
    }

    button:hover {
        opacity: 0.8;
    }
}

@media screen and (max-width: 700px) {
    form {
        flex-direction: column;
        gap: 20px;

        button {
            flex: 0 0 auto;
            align-self: stretch;
        }
    }
}