
header {
    background-color: var(--darker-blue); 
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;

    .header-container {
        color: var(--white);
        max-width: 1200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        .profile {
            display: flex;
            align-items: center;

            i {
                display: flex;
                font-size: 14px;
                width: 28px;
                height: 28px;
                align-items: center;
                justify-content: center;
                background-color: var(--light-blue);
                color: var(--white);
                border-radius: 50%;
            }

            h2 {
                font-size: 16px;
                margin-right: 12px;
                font-weight: 500;
            }
        }

        h1 {
            font-size: 20px;
            font-weight: 600;
        }
    }

}