
.card-title {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 10px;

    h2 {
        font-size: 16px;
        font-weight: 600;
    }

    #title_name {
        text-align: center;
    }
}